pandas==2.2.2
ydata-profiling== 4.10.0
numpy==1.26.4
seaborn==0.13.2
plotly==5.24.0
matplotlib==3.9.2
prophet==1.1.5
nbformat==4.2.0
holidays==0.48
xgboost==2.0.3
scikit-learn==1.5.1
ipywidgets==8.1.5